@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "../../node_modules/filepond/dist/filepond.css";
@import "../../node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";


@layer base{
    .swal2-toast.swal2-icon-success{
        @apply bg-blue-300 !important;
    }
}

.jj{
    appearance:none !important;
    border: white !important;
    background-color: transparent !important;
    border-radius: 0.25rem !important;
    color: rgba(55,65,81) !important;
    line-height: 1.25 !important;
    padding: 0px !important;
    font-size: 12px !important;
    opacity:0.7 !important;
}
.jj:focus{
    outline-width: 2px solid transparent !important;
    outline-offset: 2px !important;
    box-shadow: 0 0 0 0 rgb(0, 0, 0) !important;
}
