@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "../../node_modules/filepond/dist/filepond.css";
@import "../../node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";


@layer base{
    .swal2-toast.swal2-icon-success{
        @apply bg-blue-300 !important;
    }
}



/* .jj{
    appearance:none !important;
    border: white !important;
    background-color: transparent !important;
    border-radius: 0.25rem !important;
    color: rgba(55,65,81) !important;
    line-height: 1.25 !important;
    padding: 0px !important;
    font-size: 12px !important;
    opacity:0.7 !important;
} */



.jj:focus{
    outline-width: 2px solid transparent !important;
    outline-offset: 2px !important;
    box-shadow: 0 0 0 0 rgb(0, 0, 0) !important;
}

.imagePreview{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
}
.file-upload{
    display: flex;
}

.file-select {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.file-select.file-select-box {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 14px;
}
.file-upload-custom-btn {
    width: 150px;
    height: 150px;
    border: none;
    background-color: #ed192412;
    color: #ed1924;
    font-size: 30px;
    z-index: 1;
    position: relative;
}

.file-select input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.file-select.file-select-box input[type=file]{
    z-index: 2;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 100%;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    width: 30px !important;
    height: 30px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
    position: absolute;
    display: none;
}

.swiper-pagination-bullet {
    background-color: white !important;
    opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
    opacity: 1 !important;
}

.heart{
    fill:rgba(0,0,0,0.2);
    stroke:white;
    stroke-width: 3px;

    
    
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
} 



